@using System.Text.RegularExpressions
@model ArticleDetailViewModel
@{
    //ViewData["Title"] = "Detail";
    Layout = "_ArticleLayout";
    ViewBag.Title = Model.ArticleDto.Article.Title;
    ViewBag.Description = Model.ArticleDto.Article.SeoDescription;
    ViewBag.Author = Model.ArticleDto.Article.SeoAuthor;
    ViewBag.Tags = Model.ArticleDto.Article.SeoTags;
    Regex regex = new Regex("<[^>]*>"); //Editörden gelen text deki html etiketlerini kaldirmak icin kullaniyoruz.
}
<!--left-->
<div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
    <div class="blog-grid-top">
        <div class="b-grid-top">
            <div class="blog_info_left_grid">
                <a href="#">
                    <img src="~/CoreBlog/images/b1.jpg" class="img-fluid" alt="">
                </a>
            </div>
            <div class="blog-info-middle">
                <ul>
                    <li>
                        <a href="#"><i class="far fa-calendar-alt"></i> @Model.ArticleDto.Article.Date.ToShortDateString()</a>
                    </li>
                    <li class="mx-2">
                        <a href="#"><i class="fas fa-eye"></i> @Model.ArticleDto.Article.ViewCount</a>
                    </li>
                    <li>
                        <a href="#"><i class="far fa-comment"></i> @Model.ArticleDto.Article.CommentCount</a>
                    </li>
                </ul>
            </div>
        </div>
        <h1 class="mt-4">@Model.ArticleDto.Article.Title</h1>
        <!-- Author -->
        <p class="lead">@Model.ArticleDto.Article.Writer.FirstName @Model.ArticleDto.Article.Writer.LastName tarafından @Model.ArticleDto.Article.Date.ToShortDateString() tarihinde paylaşılmıştır.</p>
        <!-- Content -->
        @Html.Raw(Model.ArticleDto.Article.Content)
    </div>
    <br />
    <p class="text-center">Okunma Sayısı: <span class="badge badge-info">@Model.ArticleDto.Article.ViewCount</span> Yorum Sayısı: <span class="badge badge-warning">@Model.ArticleDto.Article.CommentCount</span></p>
    <hr>
    @await Html.PartialAsync("~/Views/Comment/CommentAddPartial.cshtml")
    @await Component.InvokeAsync("CommentList")
</div>
<div class="col-md-4">
    <!--right-->
    <div class="tech-btm">
        <img src="~/CoreBlog/images/banner1.jpg" class="card-img-top img-fluid" alt="">
    </div>
    <div class="tech-btm">
        <h4>Bültene Abone Ol</h4>
        <p>Mail adresinizi girerek yeniliklerden abone olabilirsiniz</p>
        <form action="#" method="post">
            <input type="email" placeholder="Email" required="">
            <input type="submit" value="Abone Ol">
        </form>
    </div>
    <!--Writer About-->
    @await Component.InvokeAsync("WriterAbout")
    <br />
    <!--// Writer About-->
    <!--Writer Blogs-->
    @await Component.InvokeAsync("WriterArticles")
    <!--// Writer Blogs-->
    <!--CategoryList-->
    <br />
    @await Component.InvokeAsync("CategoryList")
    <!--// CategoryList-->
    <br />
    <div class="single-gd tech-btm text-left">
        <h4>Son Eklenen Makale</h4>
        <div class="card" style="border-style: outset">
            <div class="blog-grids">
                <div class="blog-grid-left">
                    <a href="single.html">
                        <img src="~/CoreBlog/images/b1.jpg" class="card-img-top img-fluid" alt="">
                    </a>
                </div>
                <div class="blog-grid-right">
                    <h5>
                        <a href="single.html">Pellentesque dui, non felis. Maecenas male</a>
                    </h5>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="tech-btm widget_social text-left">
        <h4>Sosyal Medya</h4>
        <ul>
            <li>
                <a class="twitter" href="#">
                    <i class="fab fa-twitter"></i><span class="count">317K</span> Twitter Followers
                </a>
            </li>
            <li>
                <a class="facebook" href="#">
                    <i class="fab fa-facebook-f"></i><span class="count">218k</span> Twitter Followers
                </a>
            </li>
            <li>
                <a class="dribble" href="#">
                    <i class="fab fa-dribbble"></i><span class="count">215k</span> Dribble Followers
                </a>
            </li>
            <li>
                <a class="pin" href="#">
                    <i class="fab fa-pinterest"></i><span class="count">190k</span> Pinterest Followers
                </a>
            </li>
        </ul>
    </div>
    <div class="tech-btm">
        <h4>Son Makaleler</h4>
        <div class="blog-grids row mb-3 text-left">
            <div class="col-md-5 blog-grid-left">
                <a href="single.html">
                    <img src="~/CoreBlog/images/1.jpg" class="card-img-top img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-7 blog-grid-right">

                <h5>
                    <a href="single.html">Pellentesque dui, non felis. Maecenas male non felis </a>
                </h5>
                <div class="sub-meta">
                    <span>
                        <i class="far fa-clock"></i> 20 Jan, 2018
                    </span>
                </div>
            </div>
        </div>
        <div class="blog-grids row mb-3 text-left">
            <div class="col-md-5 blog-grid-left">
                <a href="single.html">
                    <img src="~/CoreBlog/images/5.jpg" class="card-img-top img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-7 blog-grid-right">

                <h5>
                    <a href="single.html">Pellentesque dui, non felis. Maecenas male non felis </a>
                </h5>
                <div class="sub-meta">
                    <span>
                        <i class="far fa-clock"></i> 20 Jan, 2018
                    </span>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="blog-grids row mb-3 text-left">
            <div class="col-md-5 blog-grid-left">
                <a href="single.html">
                    <img src="~/CoreBlog/images/3.jpg" class="card-img-top img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-7 blog-grid-right">
                <h5>
                    <a href="single.html">Pellentesque dui, non felis. Maecenas male non felis </a>
                </h5>
                <div class="sub-meta">
                    <span>
                        <i class="far fa-clock"></i> 20 Feb, 2018
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!--//right-->
</div>


